/Clase2/nbproject/private/
/Clase2/build/
/EjemplosClase2/nbproject/private/
/EjemplosClase2/build/
/Proyecto/nbproject/private/
/Proyecto/build/
/Clase3/nbproject/private/
/Clase3/build/
/EjemploHilo/nbproject/private/
/EjemploHilo/build/
/Eliminar/nbproject/private/
/EjemploGitHub/nbproject/private/
/EjemploTabla/nbproject/private/
/EjemploTabla/build/
/Clase4/nbproject/private/
/Clase4/build/
/EjemploCRUD/nbproject/private/
/EjemploCRUD/build/
/EjemploBotonTabla/nbproject/private/
/EjemploBotonTabla/build/
/EjemploProyecto/nbproject/private/
/EjemploProyecto/build/
/EjemploAlgoritmoMatriz/nbproject/private/
/EjemploAlgoritmoMatriz/build/
/EjemploLoginInvestigador/nbproject/private/
/EjemploLoginInvestigador/build/
/Dummy/nbproject/private/
/Clase7/nbproject/private/
/Clase7/build/
/Eliminar/build/
/Clase11/nbproject/private/
/Clase11/build/
